{% extends 'base.html' %}

{% block title %}
    Deleting Customer...
{% endblock%}

{% block content %}
    <br>

    <form method="post">
    <p>
        <label>Enter customer name to be deleted : </label>
        <input type="text" name="name"
            placeholder="{{ delName }}">
        </input>

        <button type="submit" style="margin-left: 30px;">Delete Customer</button>
    </p>
    </form>

    {% if msgnotfound == 0 %}
        {{ delName }} has been deleted from the customer database!!
    {% endif %}

    {% if msgnotfound == 1 %}
        {{ delName }} not found in customer database!!
    {% endif %}

{% endblock %}